{% extends "airflow/master.html" %}

{% block title %}Airflow - REST API{% endblock %}

{% block head_css %}
{{ super() }}

{% endblock %}

{% block body %}

<style type="text/css">
    #dags-table table { border-collapse: collapse; }
    #dags-table td + td, #dags-table th + th { border-left: 1px solid; }
    #dags-table tr + tr { border-top: 1px solid; }
    #dags-table th, #dags-table td { padding: 4px; }
</style>

<!--todo: Add a new column to the tables to document what the variables are for and if they're required-->
<!--todo: add what version of airflow each command is available in-->
<!--todo: Add state for dags listed-->

<h1>Airflow REST API </h1>
<h2>DAGs:</h2>
<table id="dags-table">
    <tr>
        <th>DAG ID</th><th>Is Active</th>
    </tr>
    {% for dag in dags %}
    <tr>
        <td>{{dag.dag_id}}</td><td>{{dag.is_active}}</td>
    </tr>
    {% endfor %}
</table>
<h2>APIs</h2>
<div>
    <h3>Version</h3>
    <h5>Displays the version of Airflow you're using</h5>
    <h5>GET {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('VERSION_URL')}}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('VERSION_URL')}}">
            <table>
                <tr>
                    <td colspan="2"><input type="submit" value="Get Version"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Variables</h3>
    <h5>List all variables</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('VARIABLES_URL')}}?set={SET-OPTIONAL}
        &get={GET-OPTIONAL}&json={OPTIONAL}&default={DEFAULT-OPTIONAL}&import={IMPORT-OPTIONAL}&export={EXPORT-OPTIONAL}&delete={DELETE-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('VARIABLES_URL')}}">
            <table>
                <tr>
                    <td>set (Optional):</td>
                    <td><input type="text" name="set"/></td>
                </tr>
                <tr>
                    <td>get (Optional):</td>
                    <td><input type="text" name="get"/></td>
                </tr>
                <tr>
                    <td>json (Optional):</td>
                    <td><input type="checkbox" name="json"/></td>
                </tr>
                <tr>
                    <td>default (Optional):</td>
                    <td><input type="text" name="default"/></td>
                </tr>
                <tr>
                    <td>import (Optional):</td>
                    <td><input type="text" name="import"/></td>
                </tr>
                <tr>
                    <td>export (Optional):</td>
                    <td><input type="text" name="export"/></td>
                </tr>
                <tr>
                    <td>delete (Optional):</td>
                    <td><input type="text" name="delete"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="List Variables"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Pause DAG</h3>
    <h5>Pauses a DAG</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('PAUSE_URL')}}?dag_id={DAG_ID-REQUIRED}&subdir={SUB_DIRECTORY-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.1.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('PAUSE_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Pause DAG"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Unpause DAG</h3>
    <h5>Resume a paused DAG</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('UNPAUSE_URL')}}?dag_id={DAG_ID-REQUIRED}&subdir={SUB_DIRECTORY-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('UNPAUSE_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Unpause DAG"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Test</h3>
    <h5>Test a task instance. This will run a task without checking for dependencies or recording it’s state in the
        database.</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('TEST_URL')}}?dag_id={DAG_ID-REQUIRED}
        &task_id={TASK_ID-OPTIONAL}&execution_date={EXECUTION_DATE-OPTIONAL}&subdir={SUB_DIRECTORY-OPTIONAL}&dry_run{DRY_RUN-OPTIONAL}
        &task_params={TASK_PARAMS-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('TEST_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>task_id:</td>
                    <td><input type="text" name="task_id"/></td>
                </tr>
                <tr>
                    <td>execution_date:</td>
                    <td><input type="text" name="execution_date"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td>dry_run (Optional):</td>
                    <td><input type="checkbox" name="dry_run"/></td>
                </tr>
                <tr>
                    <td>task_params (Optional):</td>
                    <td><input type="text" name="task_params"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="TEST"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>DAG State</h3>
    <h5>Get the status of a dag run</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('DAG_STATE_URL')}}?dag_id={DAG_ID-REQUIRED}
        &execution_date={EXECUTION_DATE-OPTIONAL}&subdir={SUB_DIRECTORY-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.1.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('DAG_STATE_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>execution_date:</td>
                    <td><input type="text" name="execution_date"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="TEST"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Run</h3>
    <h5>Run a single task instance</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('RUN_URL')}}?dag_id={DAG_ID-REQUIRED}
        &task_id={TASK_ID-OPTIONAL}&execution_date={EXECUTION_DATE-OPTIONAL}&subdir={SUB_DIRECTORY-OPTIONAL}&mark_success{MARK_SUCCESS-OPTIONAL}
        &force{FORCE-OPTIONAL}&pool={PEOPLE-OPTIONAL}&local{LOCAL-OPTIONAL}&ignore_dependencies{IGNORE_DEPENDENCIES-OPTIONAL}
        &ignore_depends_on_past{IGNORE_DEPENDS_ON_PAST-OPTIONAL}&ship_dag{SHIP_DAG-OPTIONAL}&pickle={PICKLE-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('RUN_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>task_id:</td>
                    <td><input type="text" name="task_id"/></td>
                </tr>
                <tr>
                    <td>execution_date:</td>
                    <td><input type="text" name="execution_date"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td>mark_success (Optional):</td>
                    <td><input type="checkbox" name="mark_success"/></td>
                </tr>
                <tr>
                    <td>force (Optional):</td>
                    <td><input type="checkbox" name="force"/></td>
                </tr>
                <tr>
                    <td>pool (Optional):</td>
                    <td><input type="text" name="pool"/></td>
                </tr>
                <tr>
                    <td>local (Optional):</td>
                    <td><input type="checkbox" name="local"/></td>
                </tr>
                <tr>
                    <td>ignore_dependencies (Optional):</td>
                    <td><input type="checkbox" name="ignore_dependencies"/></td>
                </tr>
                <tr>
                    <td>ignore_depends_on_past (Optional):</td>
                    <td><input type="checkbox" name="ignore_depends_on_past"/></td>
                </tr>
                <tr>
                    <td>ship_dag (Optional):</td>
                    <td><input type="checkbox" name="ship_dag"/></td>
                </tr>
                <tr>
                    <td>pickle (Optional):</td>
                    <td><input type="text" name="pickle"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Run"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>List Tasks</h3>
    <h5>List the tasks within a DAG</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('LIST_TASKS_URL')}}?dag_id={DAG_ID-REQUIRED}&tree{TREE-OPTIONAL}&subdir={SUB_DIRECTORY-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('LIST_TASKS_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>tree (Optional):</td>
                    <td><input type="checkbox" name="tree"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="List Tasks"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Backfill DAG</h3>
    <h5>Run subsections of a DAG for a specified date range</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('BACKFILL_URL')}}?dag_id={DAG_ID-REQUIRED}
        &task_regex={TASK_REGEX-OPTIONAL}&start_date={START_DATE-OPTIONAL}&end_date={END_DATE-OPTIONAL}&mark_success{MARK_SUCCESS-OPTIONAL}
        &local{LOCAL-OPTIONAL}&donot_pickle{DO_NOT_PICKLE-OPTIONAL}&include_adhoc{INCLUDE_ADHOC-OPTIONAL}&ignore_dependencies{IGNORE_DEPENDENCIES-OPTIONAL}
        &ignore_first_depends_on_past{IGNORE_FIRST_DEPENDS_ON_PAST-OPTIONAL}&subdir={SUB_DIRECTORY-OPTIONAL}&pool={POOL-OPTIONAL}&dry_run{DRY_RUN-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('BACKFILL_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>task_regex (Optional):</td>
                    <td><input type="text" name="task_regex"/></td>
                </tr>
                <tr>
                    <td>start_date (Optional):</td>
                    <td><input type="text" name="start_date"/></td>
                </tr>
                <tr>
                    <td>end_date (Optional):</td>
                    <td><input type="text" name="end_date"/></td>
                </tr>
                <tr>
                    <td>mark_success (Optional):</td>
                    <td><input type="checkbox" name="mark_success"/></td>
                </tr>
                <tr>
                    <td>local (Optional):</td>
                    <td><input type="checkbox" name="local"/></td>
                </tr>
                <tr>
                    <td>donot_pickle (Optional):</td>
                    <td><input type="checkbox" name="donot_pickle"/></td>
                </tr>
                <tr>
                    <td>include_adhoc (Optional):</td>
                    <td><input type="checkbox" name="include_adhoc"/></td>
                </tr>
                <tr>
                    <td>ignore_dependencies (Optional):</td>
                    <td><input type="checkbox" name="ignore_dependencies"/></td>
                </tr>
                <tr>
                    <td>ignore_first_depends_on_past (Optional):</td>
                    <td><input type="checkbox" name="ignore_first_depends_on_past"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td>pool (Optional):</td>
                    <td><input type="text" name="pool"/></td>
                </tr>
                <tr>
                    <td>dry_run (Optional):</td>
                    <td><input type="checkbox" name="dry_run"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Run Backfill"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>List Dags</h3>
    <h5>List all the DAGs</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('LIST_DAGS_URL')}}?subdir={SUB_DIRECTORY-REQUIRED}
        &report={REPORT-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('LIST_DAGS_URL')}}">
            <table>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td>report (Optional):</td>
                    <td><input type="checkbox" name="report"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="List Dags"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Kerberos</h3>
    <h5>Start a kerberos ticket renewer</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('KERBEROS_URL')}}?principal={PRINCIPAL-REQUIRED}
        &keytab={KEYTAB-OPTIONAL}&pid={PID_FILE-OPTIONAL}&daemon{DAEMON-OPTIONAL}&stdout={STDOUT_FILE-OPTIONAL}&stderr={STDERR_FILE-OPTIONAL}&log-file={LOG_FILE-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('KERBEROS_URL')}}">
            <table>
                <tr>
                    <td>principal:</td>
                    <td><input type="text" name="principal"/></td>
                </tr>
                <tr>
                    <td>keytab (Optional):</td>
                    <td><input type="text" name="keytab"/></td>
                </tr>
                <tr>
                    <td>pid (Optional):</td>
                    <td><input type="text" name="pid"/></td>
                </tr>
                <tr>
                    <td>daemon (Optional):</td>
                    <td><input type="checkbox" name="daemon"/></td>
                </tr>
                <tr>
                    <td>stdout (Optional):</td>
                    <td><input type="text" name="stdout"/></td>
                </tr>
                <tr>
                    <td>stderr (Optional):</td>
                    <td><input type="text" name="stderr"/></td>
                </tr>
                <tr>
                    <td>log-file (Optional):</td>
                    <td><input type="text" name="log-file"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Start Kerberos Ticekt Renewer"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Worker</h3>
    <h5>Start a Celery Worker Daemon</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('WORKER_URL')}}?port={PORT-OPTIONAL}
        &workers={WORKERS_COUNT-OPTIONAL}&workerclass={WORKER_CLASS-OPTIONAL}&worker_timeout={WORKER_TIMEOUT-OPTIONAL}
        &hostname={HOSTNAME-OPTIONAL}&pid={PID-OPTIONAL}&daemon{DAEMON-OPTIONAL}&stdout={STDOUT_FILE-OPTIONAL}
        &stderr={STDERR_FILE-OPTIONAL}&access_logfile={ACCESS_LOG_FILE-OPTIONAL}&error_logfile={ERROR_LOG_FILE-OPTIONAL}
        &log-file={LOG_FILE-OPTIONAL}&debug{DEBUG-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('WORKER_URL')}}">
            <table>
                <tr>
                    <td>port (Optional):</td>
                    <td><input type="text" name="port"/></td>
                </tr>
                <tr>
                    <td>workers (Optional):</td>
                    <td><input type="text" name="workers"/></td>
                </tr>
                <tr>
                    <td>workerclass (Optional):</td>
                    <td><input type="text" name="workerclass"/></td>
                </tr>
                <tr>
                    <td>worker_timeout (Optional):</td>
                    <td><input type="text" name="worker_timeout"/></td>
                </tr>
                <tr>
                    <td>hostname (Optional):</td>
                    <td><input type="text" name="hostname"/></td>
                </tr>
                <tr>
                    <td>pid (Optional):</td>
                    <td><input type="text" name="pid"/></td>
                </tr>
                <tr>
                    <td>daemon (Optional):</td>
                    <td><input type="checkbox" name="daemon"/></td>
                </tr>
                <tr>
                    <td>stdout (Optional):</td>
                    <td><input type="text" name="stdout"/></td>
                </tr>
                <tr>
                    <td>stderr (Optional):</td>
                    <td><input type="text" name="stderr"/></td>
                </tr>
                <tr>
                    <td>access_logfile (Optional):</td>
                    <td><input type="text" name="access_logfile"/></td>
                </tr>
                <tr>
                    <td>error_logfile (Optional):</td>
                    <td><input type="text" name="error_logfile"/></td>
                </tr>
                <tr>
                    <td>log-file (Optional):</td>
                    <td><input type="text" name="log-file"/></td>
                </tr>
                <tr>
                    <td>debug (Optional):</td>
                    <td><input type="checkbox" name="debug"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Start Worker"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Scheduler</h3>
    <h5>Start a scheduler instance</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('SCHEDULER_URL')}}?dag_id={DAG_ID-OPTIONAL}
        &subdir={SUB_DIRECTORY-OPTIONAL}&run-duration={RUN_DURATION-OPTIONAL}&num_runs={NUMBER_OF_RUNS-OPTIONAL}&daemon{DEMONIZE-OPTIONAL}
        &stdout={STDOUT_FILE-OPTIONAL}&stderr={STDERR_FILE-OPTIONAL}&log-file={LOG_FILE-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('SCHEDULER_URL')}}">
            <table>
                <tr>
                    <td>dag_id (Optional):</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>subdir (Optional):</td>
                    <td><input type="text" name="subdir"/></td>
                </tr>
                <tr>
                    <td>run-duration (Optional):</td>
                    <td><input type="text" name="run-duration"/></td>
                </tr>
                <tr>
                    <td>num_runs (Optional):</td>
                    <td><input type="text" name="num_runs"/></td>
                </tr>
                <tr>
                    <td>do_pickle (Optional):</td>
                    <td><input type="checkbox" name="do_pickle"/></td>
                </tr>
                <tr>
                    <td>pid (Optional):</td>
                    <td><input type="text" name="pid"/></td>
                </tr>
                <tr>
                    <td>daemon (Optional):</td>
                    <td><input type="checkbox" name="daemon"/></td>
                </tr>
                <tr>
                    <td>stdout (Optional):</td>
                    <td><input type="text" name="stdout"/></td>
                </tr>
                <tr>
                    <td>stderr (Optional):</td>
                    <td><input type="text" name="stderr"/></td>
                </tr>
                <tr>
                    <td>log-file (Optional):</td>
                    <td><input type="text" name="log-file"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Start Scheduler"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Trigger DAG</h3>
    <h5>Trigger a DAG run</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('TRIGGER_DAG_URL')}}?dag_id={DAG_ID-REQUIRED}&run_id={RUN_ID-OPTIONAL}&conf={CONF_JSON-OPTIONAL}</h5>
    <h6>Available in Airflow Version: <b>1.7.0 or greater</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('TRIGGER_DAG_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td>run_id (Optional):</td>
                    <td><input type="text" name="run_id"/></td>
                </tr>
                <tr>
                    <td>conf (json) (Optional):</td>
                    <td><input type="text" name="conf"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Trigger DAG"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Refresh DAG</h3>
    <h5>Refresh a DAG</h5>
    <h5>GET
        {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('REFRESH_DAG_URL')}}?dag_id={DAG_ID-REQUIRED}</h5>
    <h6>Available in Airflow Version: <b>None - Custom API</b></h6>
    <div>
        <form method="GET" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('REFRESH_DAG_URL')}}">
            <table>
                <tr>
                    <td>dag_id:</td>
                    <td><input type="text" name="dag_id"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Refresh DAG"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
<div>
    <h3>Deploy DAG</h3>
    <h5>Deploy a new DAG</h5>
    <h5>POST {{airflow_webserver_base_url}}{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('DEPLOY_DAG_URL')}}</h5>
    <h6>enctype=multipart/form-data</h6>
    <h6>dag_file - POST Body Element - REQUIRED</h6>
    <h6>Available in Airflow Version: <b>None - Custom API</b></h6>
    <div>
        <form method="POST" action="{{url_dict.get('REST_API_BASE_URL')}}{{url_dict.get('DEPLOY_DAG_URL')}}"
              enctype="multipart/form-data">
            <table>
                <tr>
                    <td>dag_file:</td>
                    <td><input type="file" name="dag_file"/></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Deploy DAG"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>


<br/>

{% endblock %}

{% block tail %}
{{ super() }}

{% endblock %}
